<div class="tablero">
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
    <app-cuadro></app-cuadro>
</div>